{% extends 'base.html' %}
{% block content %}
<style>
    #c{
        margin-left:25%;
        margin-right:25%;
        
    }
    #h{
        text-align:center;
         margin-left:33%;
        margin-right:25%;
        
    }
    #f{
        background-color:#e1e8ed;
    },
    
</style>

<div class="container">
      <div class="registrations__spacer">
      </div>
        
            <div class="col-xs-4" id="h">
                <div class="text-center">
                  <h4 class="alpha text-weight--bold">Join FoodShala</h4>
                     <p>Already have an account? <a rel="nofollow" href="/login">Login</a></p>
                </div>
            </div>
    

<div class="form" id="f">
    <form action="/register"  method="post">
          {% csrf_token %}
        <div class="row" id="c">
          <div class="col-xs-6">
            <div class="form-group">
              <label for="user_first_name">First name</label>
              <input autofocus="autofocus" class="form-control js-validate-field-on-blur" required="required" type="text"                        name="first_name">
              
            </div> <!-- close .form-group -->
          </div> <!-- close .col -->

          <div class="col-xs-6">
            <div class="form-group">
              <label for="user_last_name">Last name</label>
              <input class="form-control" type="text" name="last_name" id="user_last_name" />
              
            </div> <!-- close .form-group -->
          </div> <!-- close .col -->
    <!-- close .row -->
<div class="col-xs-12">
        <div class="form-group">
          <label for="user_email">
            Email address
</label>
          <input class="form-control js-validate-field-on-blur" required="required" type="email" value="" name="email" id="user_email" />
          
        </div> <!-- close .form-group -->
            </div>
<div class="col-xs-12">
        <div class="form-group">
          <label for="user_username">
            Username <span class="text-secondary">(only letters, numbers, and underscores)</span>
</label>
          <input class="form-control js-validate-field-on-blur" pattern="[a-zA-Z0-9_]*[a-zA-Z][a-zA-Z0-9_]*" required="required" type="text" name="username" id="user_username" />
          
        </div> 
    </div>
            
    <div class="col-xs-12">
        <div class="form-group">
          <label for="user_password">
            Password <span class="text-secondary">(min. 6 char)</span>
          </label>
          <input autocomplete="off" minlength="6" class="form-control js-validate-field-on-blur" required="required"                      type="password" name="password" id="user_password" />
          
        </div>
    </div>
            
    <div class="col-xs-6">
        <div class="form-group">
              <button class="btn btn-lg btn-primary" name="veg" type="submit">
                  VEG
                </button>
        </div>
    </div>
            
        <div class="col-xs-6">
            <div class="form-group">
              <button class="btn btn-lg btn-primary" name="nonveg" type="submit">
                 NON VEG
                </button>
           </div>
        </div>
        </div>
   </form>
        </div> 

    {% for m in messages%}
   <h2>
       {{m}}
    </h2> 
    {%endfor%}
</div>

        
          {% endblock %}